<!DOCTYPE html>
<html>
  <head>
    <!-- The below executes full_title which takes in a special
      sub title. If not subtitle is defined, then it returns a
      defaul title -->
    <title><%= full_title(yield(:title)) %></title>
    <!-- The two tags below include the application stylesheet and JavaScript -->
                      <!-- This can also be :media => "all" --> 
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <!-- Prevents cross site forgery (a web attack) -->
    <%= csrf_meta_tags %>
    <!-- IMPORTANT: Note that shim refers to the partial _shim.html.erb
         the _ (underscore) marks the file as a partial -->

    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <!-- This yield statement below is where the home.html.erb contents, etc. 
      are placed -->
      <%= yield %>
    </div>
    <%=  render 'layouts/footer' %>
  </body>
</html>
